<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.badresden.zasa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.FinishedQuestionnairesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".activities.MainActivity">-->
<!--            -->
<!--        </activity>-->
        <activity
            android:name=".activities.QuestionnaireAllgemeinActivity"
            android:label="QuestionnaireAllgemein"
            android:parentActivityName=".activities.FinishedQuestionnairesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FinishedQuestionnairesActivity" />
        </activity>
        <activity
            android:name=".activities.QuestionnaireTragfaehigkeitActivity"
            android:label="QuestionnaireKlassifizierung"
            android:parentActivityName=".activities.QuestionnaireAllgemeinActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.QuestionnaireAllgemeinActivity" />
        </activity>
        <activity
            android:name=".activities.QuestionnaireGebrauchstauglichkeitActivtiy"
            android:label="QuestionnaireKlassifizierung"
            android:parentActivityName=".activities.QuestionnaireTragfaehigkeitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.QuestionnaireTragfaehigkeitActivity" />
        </activity>
        <activity
            android:name=".activities.QuestionnaireDauerhaftigkeitActivity"
            android:label="QuestionnaireKlassifizierung"
            android:parentActivityName=".activities.QuestionnaireGebrauchstauglichkeitActivtiy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.QuestionnaireGebrauchstauglichkeitActivtiy" />
        </activity>


    </application>

</manifest>